/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.root {
    -fx-font-size: 14px;
    -fx-font-family: sans-serif;
    -fx-background-color: #ffffff;
}

.header-section {
    -fx-padding: 25 90 25 0;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-background-color: #3d3d53;
}

.left-section {
	-fx-background-color: #e6e6e6;
	-fx-padding: 10;
}

.login-section {
	-fx-padding: 10;
}

#header-text {
	-fx-padding: 0 30 0 120;
	-fx-font-size: 3em;
}

.header-section Label {
    -fx-text-fill: #c3c3c3;
    -fx-padding: 10px;
}

#carrito {
	-fx-padding: 50 0 0 0;
    -fx-background-color: transparent;
    -fx-text-fill: #ffffff;
    -fx-font-size: 16px;
    -fx-cursor: hand;
}

.sidebar-section {
	-fx-padding: 0 10 0 10;
}

.carrito-image {
	-fx-padding: 0;
}

#seachLabel {
	-fx-padding: 10 0 10 0;
	-fx-font-weight: bold;
    -fx-font-size: 16px;
}

.buttons-home-layout {
	-fx-padding: 20 10 10 10;
}

#seachTextField {
	-fx-padding: 7;
	 -fx-background-color: -fx-text-box-border, -fx-background ;
    -fx-background-insets: 0, 0 0 1 0 ;
    -fx-background-radius: 0;
}

#seachTextField:focused {
    -fx-background-color: -fx-focus-color, -fx-background ;
    -fx-prompt-text-fill: derive(-fx-control-inner-background,-50%);
}

.button-search {
    -fx-text-fill: #242d35;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.button-clean {
    -fx-text-fill: #242d35;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.buttons-hbox-home {
	-fx-padding: 130 0 15 0;
}

.image-login {
	-fx-padding: 10 0 0 37;
}

.combo-section {
	-fx-padding: 20 0 0 0;
}

#combo {
	-fx-font-size: 16px;
    -fx-font-weight: bold;
}

.checkboxes {
	-fx-padding: 20 0 0 0;
}


#loginText {
	-fx-padding: 10 0 0 0;
	-fx-font-weight: bold;
    -fx-font-size: 18px;
}

.content-section {
	-fx-background-color: #FFFFFF;
    -fx-border-color: #FFFFFF;
    -fx-wrap-text: true;
    -fx-padding: 20 0 0 50;

}

.noheader .column-header-background {
    -fx-max-height: 0;
    -fx-pref-height: 0;
    -fx-min-height: 0;
}

#content {
	-fx-padding:20 50 10 20;
    -fx-wrap-text: true;
    -fx-font-size: 16px;
    -fx-alignment: center;
}

#footer-section {
    -fx-alignment: center;
    -fx-text-fill: #ffffff;
    -fx-background-color: #000000;
}